*{
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
  
}


     



.ajust_img{
    width: 100%;
    height: auto;
    
       
    
}


#header{
    height: 10vh;
    width: 100vw;
}

    

#main{
    height: 85vh;
    /* width: auto; */

    
}
#main2{
    height: 40vh;

}



#card_main_izquierda {
    /* height: 85vh;   */
    /* width: 50vw; */

    
    border: 0.1px solid black;
    /* background-color: rgb(13, 12, 14); */
    
           
}
/* .fondos{
    background: 
    url(../assets/images/perrito001.png) left ,
    url(../assets/images/madera.png) ,
    url(../assets/images/gatito002.png);  
     
    
    
    
    } */



/* .madera{
    width: 100vw;
    height: 10vh;
} */



#card_main_derecha{
    /* height: 85vh;   */
    /* width: 50vw; */

    
    border: 0.1px solid black;
}

footer{
    
    height: 5vh;
    width: auto
    
    

}
/* a{border: 1px solid black;} */

/* ul li a{
    display: inline-block;
    width: 8vw;
    height: 5vh;
    border: solid 1px black;
    font-size: 10px;
    color: black;
    text-decoration: none;
    /* position: absolute; */
    /* top: 3vh; */
    
/* } */

ul li {
    display: inline;
    
}
#logo_footer{
    width: 8vw;
    /* left: 2vw; */

}
#youtube_footer{
    width: 6vw;
    /* left: 27vw; */
}
#linkeding_footer{
     width: 6vw;
    /* left: 37vw; */
}
#instagram_footer{
     width: 6vw;
    /* left: 47vw; */
}
#facebook_footer{
     width: 6vw;
    /* left: 57vw; */
}
#twitter_footer{
     width: 6vw;
    /* left: 67vw; */
}
#categoria_uno_footer{
    width: 6vw;
    /* left: 75vw; */

}
#categoria_dos_footer{
    width: 6vw;
    /* left: 82vw; */
}
#categoria_tres_footer{
    
    width: 6vw;
    /* left: 89vw; */
}


#bg-light {
    
    background-color: none !important;
}



/* estios bordes */

.with-border {
 
    border-image: radial-gradient(rgb(0, 143, 104), rgb(250, 224, 6)) 6;
    border-style: solid;
    border-width: 10px;



}